body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-content {
  border-radius: 20px;
  padding: 20px;
  border: none;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 10%);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  padding-bottom: 0;
  font-family: 'Quicksand',sans-serif;
  color: #81256f;
  font-size: 1.6em;
  letter-spacing: -1.5px;
  line-height: 1.13;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #eaceda;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 233 242);
}

.form-check-input:checked {
  background-color: #81256f;
  border-color: #eaceda;
}

.form-check-input:focus {
  border-color: #eaceda;
  box-shadow: 0 0 0 0.25rem rgb(255 233 242);
}